<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <div id="app">
        <input type="checkbox" v-model="group" value="1" /><label>我是複選框 1</label>

        <input type="checkbox" v-model="group" value="2" /><label>我是複選框 2</label>
      
        <input type="checkbox" v-model="group" value="3" /><label>我是複選框 3</label>
      
        <div>group = {{ group }}</div>
    </div>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          group : [],
        },
      });
    </script>
  </body>
</html>
